<h4>Home - Country Details</h4>
<!-- table -->
<table class="table table-dark">
  <tr>
    <th scope="col">Country Name</th>
    <th id="country-name" scope="col"></th>
  </tr>
  <tr>
    <th scope="row">Capital</th>
    <td id="capital"></td>
  </tr>
  <tr>
    <th scope="row">Region</th>
    <td id="region"></td>
  </tr>
  <tr>
    <th scope="row">Sub Region</th>
    <td id="sub-region"></td>
  </tr>
  <tr>
    <th scope="row">Population</th>
    <td id="population"></td>
  </tr>
  <tr>
    <th scope="row">Area</th>
    <td id="area"></td>
  </tr>
  <tr>
    <th scope="row">Alpha Code</th>
    <td id="code"></td>
  </tr>
</table>
