<h4>Home - Country Details</h4>
<!-- table -->
<table class="table table-dark">
  <tr>
    <th scope="col">Country Name</th>
    <td id="country-name">{{ selectedCountry.name }}</td>
  </tr>
  <tr>
    <th scope="row">Capital</th>
    <td id="capital">{{ selectedCountry.capital }}</td>
  </tr>
  <tr>
    <th scope="row">Region</th>
    <td id="region">{{ selectedCountry.region }}</td>
  </tr>
  <tr>
    <th scope="row">Sub Region</th>
    <td id="sub-region">{{ selectedCountry.subregion }}</td>
  </tr>
  <tr>
    <th scope="row">Population</th>
    <td id="population">{{ selectedCountry.population }}</td>
  </tr>
  <tr>
    <th scope="row">Area</th>
    <td id="area">{{ selectedCountry.area }}</td>
  </tr>
  <tr>
    <th scope="row">Alpha Code</th>
    <td id="code">{{ selectedCountry.alpha3Code }}</td>
  </tr>
</table>
